.teacher-form{
    direction: rtl;
    margin-top: 100px;

}
.teacher-title{
    background-color: rgb(64,133,78);
    ;
    width: 350px;
    border-radius: 15px;
    color: white;
    margin: 55px auto;
    padding-bottom:10px ;
}

#demo-simple-select-outlined{
    width: 350px !important;
    border: 1px solid black !important;


}
#demo-simple-select-outlined-label{
    color: black !important;
    font-size: 20px;
}
.teacher-form input{
    width: 350px;
    height: 15px;
    direction: rtl;
}
.inp1{
    color: black !important;
    font-size: 25px !important;
}
.sub-button{
    background-color: rgb(158, 79, 144) !important;
    color: white !important;
    width: 120px !important;
    color: white;
    border-radius: 25px !important;

}
.upload-button{
    background-color: rgb(158, 79, 144) !important;
    color: white !important;
    width: 120px !important;
    color: white;
    border-radius: 25px !important;
}
