.view-form{
    margin-top: 100px;
}

.student-name{
    background-color: rgb(32, 32, 32);
    color: white;
    width: 25%;
    margin: 5% auto;
    height: 50px;
    transform: skewX(-40deg);
    text-align:center ;
    font-size: 1.2rem;
    padding-top: 5px;
}
.cover-img{
    border-radius: 50% !important;
    height:140px !important;
    width: 140px !important;
    margin: 0 auto;
}
.view-form-button{
    margin: auto !important;
    background-color: blueviolet !important;
    color: white !important;
    border-radius:20px !important ;

}
@media only screen and (max-width: 600px) {
    .student-name{
        background-color: rgb(32, 32, 32);
        color: white;
        width: 50%;
    }
}
.exam-card
{
    margin : 0 0 20px 0 !important;
}